$font: 'Fira Sans Extra Condensed', sans-serif;
$colorBluePrimary: #0136af;
$colorBlueSecondary: #22abfa;
$colorRedPrimary: #d62926;
$colorRedSecondary: #ee625f;  
$colorGreenPrimary: #11998e;
$colorGreenSecondary: #1ce669;
$colorOrangePrimary: #fc4a1a;
$colorOrangeSecondary: #f7b733;
$colorBlackPrimary: #111;
$colorBlackSecondary: #666;
$bg: #f1f1f1;